.navbar{
    font-size: 10px;
    position: relative;
}

.navbar nav{
  font-weight: bold;
  margin-left: 108px;
  width: 1150px;
}

.navbar nav .categories{
  padding: 15px 15px;
  display: inline-block;

}

.navbar nav .categories .popUpMenu{
  display: none;
  position: absolute;
  width: 100%;
  padding: 62px;
  padding-bottom: 30px;
  background-color: #FBE65C;
  font-size: 20px;
  top: 40px;
  left: 0px;
  z-index: 1;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.navbar nav .categories:hover .arrowOfPopUp {
  display: block;
  margin: auto;
  margin-top: 9px;
  width: 0;
  height: 0;
  top: -6px;
  border-right: 13px solid #FBE65C;
  border-top: 13px solid transparent;
  transform: rotate(225deg);
}

.navbar nav .categories .popUpMenu .popUp {
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.navbar nav .categories:hover div{
  display: inline;
}

.navbar .bagAndComp{
  position: absolute;
  right: 108px;
  top: 7px;
}

.navbar .bagAndComp img {
  margin-left: 5px;
  height: 24px;
  width: 24px;
}

.navbar .bagAndComp .descr{
  display: inline-block;
  font-size: 8px;
}

.navbar .bagAndComp div {
  display: inline-block;
}
