.hot{
  height: 302px;
  background-color: #F5F5F5;
  padding: 0px 108px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.hot .hotBox {
  background-color: white;
  height: 244px;
  padding: 14px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  position: relative;
}

.hot .hotboxLarge {
  width: 472px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.hot .hotboxSmall{
  margin-left: 14px;
  width: 282px;
}

.hot .hotInfo{
  display: inline-block;
  margin-right: 10px;
}

.attention{
  z-index: 1;
  width: 42px;
  height: 15px;
  background-color: #FCE65B;
  font-size: 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: -10px;
}

.attentiontr {
  z-index: 0;
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid #F2D557;
  border-bottom: 6px solid transparent;
}

.hot .topOfMonth .attention{
  background-color: #DF7B2E;
  width: 82px;
  color: white;
}

.hot .topOfMonth .attentiontr{
  border-left-color: #C25723;
}

.hot .hotBox h2{
  margin-bottom: 0px;
}

.hot .hotBox span{
  font-weight: bold;
  font-size: 10px;
}

.hot .hotBox button{
  display: block;
  margin-top:24px;
  outline: none;
  height: 34px;
  border: 1px solid #43A1E9;
  border-radius: 5px;
  font-size: 8px;
  font-weight: bold;
  background-color: transparent;
  padding: 0 20px;
}

.hot .hotBox button:hover{
  background-color: #43A1E9;
  color: white;
}

.hot .hotBox img{
  width: 244px;
  height: 244px;
  display: inline-block;
}

.hotboxSmall{
  justify-content: flex-start;
}

.hot .hotboxSmall h3{
  display: block;
  text-align: left;
  margin-bottom: 0px;
}

.hot .hotboxSmall img{
  position: absolute;
  width: 285px;
  right: 0px;
  height: 113px;
}



.bottom{
    background-color: #141414;
    padding: 30px 0;
    position: relative;
}



.bottom ul{
  list-style-type: none;
  display: inline-block;
  margin-right: 5%;
  color: white;
  font-size: 10px;

}

  .bottom .botGroup{
    margin-left: 108px;
  }
.bottom ul li{
  margin: 10px 0;
}

.bottom ul li:first-child{
  color: #FCE65B;
}

.bottom .social {
  position: absolute;
  right: 108px;
  top: 30px;
}
