.mainPage {
  padding: 0 108px;
  text-align: center;
}

.mainHead{
  padding: 50px 0;
}

.mainPage img{
  width: 168px;
}

.mainPage .goods{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  margin-bottom: 40px;
}

.mainPage .oneGood{
  padding: 25px;
  border: 2px solid transparent;
  background-color: white;
}

.oneGood:hover{
  border: 2px solid #F0D757;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.mainPage .goods h4{
  margin-bottom: 5px;
}

.mainPage .goods h3{
  margin: 0 0 10px 0 ;
  color: #43A1E9;
}

.mainPage .goods .reviews{
    font-size: 12px;
    color: #F0D757;
}

.mainPage .goods .reviews span{
  color: #A6A6A6;
  margin-left: 10px;
}

.mainPage button{
  display: block;
  background-color: transparent;
  margin-top:24px;
  outline: none;
  height: 34px;
  border: 1px solid #43A1E9;
  border-radius: 5px;
  font-size: 8px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 40px;
}

.mainPage button:hover{
  background-color: #43A1E9;
  color: white;
}

.notebooks{
  background-color: #F5F5F5;
  padding-bottom: 1px;
}

.notebooks .goods{
  margin-bottom: 40px;
}

.notebooks .oneGood{
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.news{
  padding: 10px 108px;
  display: flex;
  justify-content: center;
}

.news .mainNews{
  background-color: white;
  width: 525px;
  height: 364px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.news .mainNews img{
  width: 525px;
  height: 175px;
  margin-bottom: 10px;

}

.news .mainNews .newsTitle{
  margin: 26px;
  font-weight: bold;
}

.news .secNews{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news .secNews .newsTitle2{
  font-weight: bold;
  width: 525px;
  height: 175px;
  background-color: white;
  margin-bottom: 14px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);

}
.news .secNews .newsBody{
  font-weight: bold;
    margin: 26px;

}
